body {
	font-size: 1.5rem;
}
input {
	height: 2rem;
	width: 24rem;
	border-radius: 1rem;
	border: 0.5px solid #aaa;

}
button {
	height: 2.5rem;
	width: 6rem;
	background-color: blue;
	border-radius: 1rem;
	font-size: 1.5rem;
}