html
 head
   link(rel="stylesheet", href="/style/custom.css")
 body
   h1 Hello!!!
   br
   h1 Welcome to Userdatabase
    form(action="/user")
     button.view User
    form(action="/user/create")
     button.create Create
