extends ../layouts/common.pug
block content

    h1 Create User

    if errors
     each error in errors
      .alert.alert-danger= error

    form(action="/user/create", method="POST")
     .form-group
      label(for="name") Name:
      input#name.form-control(type="text", placeholder="name", name="name", value=values ? values.name : "")
     .form-group
      label(for="phone") Phone:
      input#phone.form-control(type="number", placeholder="phone", name="phone", value=values ? values.phone : "")


      button.btn.btn-primary Create